
# SUPABASE
# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=

# Direct connection to the database. Used for migrations.
DIRECT_URL=
        
        

EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_SUPABASE_ROLE_KEY=
        
# API
EXPO_PUBLIC_BASE_URL=


# NODE
NODE_ENV=