# Node
node_modules/
dist/
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Turborepo cache
turbo/

apps/*/bun.lockb
apps/*/package-lock.json
apps/*/yarn.lock

.turbo
*.tsbuildinfo
