# Everything from .gitignore, but allow .env.local

node_modules/
.expo
dist
web-build/
expo-env.d.ts
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios
android
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
.env
.env.*
!.env.production
*.tsbuildinfo
app-example
.vercel
lib/prisma
