
@tailwind utilities;

@layer utilities {
  .main-area {
    @apply flex flex-1 flex-col bg-background text-foreground px-4 pt-4;
  }
  .safe-area {
    @apply flex-1 bg-background max-w-screen-md mx-auto w-full;
  }

  /* gradient background */
  .touchable {
    @apply cursor-pointer border-b border-border px-2 pb-4 flex-row justify-between items-center mb-7;
  }

  /* PROFILE */
  .profile-section {
    @apply bg-muted border border-border rounded-lg py-4 px-5 flex-row justify-between items-center mb-4;
  }
}
