/* Base circle */
.circle {
  width: var(--size);
  height: var(--size);
  border-radius: 9999px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-background {
  border-radius: 999px;
  aspect-ratio: 1;
  border: 1px solid rgba(255, 255, 255, 0.6);
  opacity: 0.5;
  background: radial-gradient(
    101.45% 101.45% at 20.36% 90.95%,
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0.16) 68.23%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

/* LEFT */
.circle.left {
  animation: circle-left 6s ease-in-out infinite;
}

/* RIGHT (important: overflow hidden) */
.circle.right {
  animation: circle-right 6s ease-in-out infinite;
  overflow: hidden;
}

/* MIX — inside RIGHT */
.circle-mix {
  width: var(--size);
  height: var(--size);
  border-radius: 9999px;
  background: var(--primary-100);
  position: absolute;
  top: 0;
  left: 0;
  animation: circle-mix 6s ease-in-out infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TEXT */
.circle-text {
  animation: circle-text-disappear 6s ease-in-out infinite;
}

.mix-text {
  animation: circle-text-appear 6s ease-in-out infinite;
  color: white;
}

@keyframes circle-left {
  0% {
    transform: translateX(-40%);
  }
  25%,
  45% {
    transform: translateX(0);
  }
  75%,
  100% {
    transform: translateX(-40%);
  }
}

@keyframes circle-right {
  0% {
    transform: translateX(40%);
  }
  25%,
  45% {
    transform: translateX(0);
  }
  75%,
  100% {
    transform: translateX(40%);
  }
}

@keyframes circle-text-disappear {
  0% {
    opacity: 1;
  }
  25%,
  45% {
    opacity: 0;
  }
  75%,
  100% {
    opacity: 1;
  }
}

@keyframes circle-text-appear {
  0% {
    opacity: 0;
  }
  25%,
  45% {
    opacity: 1;
  }
  75%,
  100% {
    opacity: 0;
  }
}

@keyframes circle-mix {
  0% {
    transform: translateX(-80%);
  }
  25%,
  45% {
    transform: translateX(0);
  }
  75%,
  100% {
    transform: translateX(-80%);
  }
}
