.text-header {
  font-family: var(--outfit-medium);
  font-size: 80px;
  line-height: 104px;
  letter-spacing: 1.6px;
}

.text-title-1 {
  font-family: var(--outfit-medium);
  font-size: 54px;
  line-height: 72px;
  letter-spacing: 1.08px;
}

.text-title-1-kr {
  font-family: var(--pretendard-semibold);
  font-size: 54px;
  line-height: 72px;
  letter-spacing: 0;
}

.text-title-2 {
  font-family: var(--outfit-medium);
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.64px;
}

.text-title-3 {
  font-family: var(--pretendard-semibold);
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.56px;
}

.text-subtitle {
  font-family: var(--pretendard-semibold);
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.48px;
}

.text-body-1 {
  font-family: var(--pretendard-medium);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.text-body-2 {
  font-family: var(--pretendard-regular);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.text-caption {
  font-family: var(--pretendard-medium);
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.26px;
}

@media (max-width: 1024px) {
  .text-header {
    font-size: 54px;
    line-height: 68px;
    letter-spacing: 1.08px;
  }
  .text-title-1 {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.8px;
  }
  .text-title-1-kr {
    font-size: 36px;
    line-height: 48px;
  }
  .text-title-2 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.56px;
  }
  .text-title-3 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.48px;
  }
  .text-subtitle {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.4px;
  }
  .text-body-1 {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.3px;
  }
  .text-body-2 {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.3px;
  }
  .text-caption {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.26px;
  }
}

@media (max-width: 640px) {
  .text-header {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.8px;
  }
  .text-title-1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.64px;
  }
  .text-title-1-kr {
    font-size: 28px;
    line-height: 40px;
  }
  .text-title-2 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
  .text-title-3 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.36px;
  }
  .text-subtitle {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
  }
  .text-body-1 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.28px;
  }
  .text-body-2 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.28px;
  }
  .text-caption {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.22px;
  }
}
