.shadow-1 {
  background: var(--Basic-White, #fff);

  /* 01 */
  box-shadow: 2px 4px 24px 0 rgba(0, 0, 0, 0.12);
}

.shadow-2 {
  background: var(--Basic-White, #fff);

  /* 02 */
  box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.02);
}
