@import "tailwindcss";
@import "tw-animate-css";
@import "circle.css";

/*
  ---break---
*/
@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/*
  ---break---
*/
@theme inline {
  --radius-sm: calc(var(--radius) - 4px); /* 4px */
  --radius-md: calc(var(--radius)); /* 8px */
  --radius-lg: calc(var(--radius) + 4px); /* 12px */
  --radius-xl: calc(var(--radius) + 16px); /* 24px */

  /* Colors */
  --color-white: var(--white);
  --color-black: var(--black);

  /* Grays */
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);

  /* Primary */
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);

  /* Accent */
  --color-yellow-100: var(--yellow-100);
  --color-yellow-200: var(--yellow-200);

  /* Red */
  --color-red-500: var(--red-500);

  /* Fonts */
  --font-outfit-medium: var(--outfit-medium);
  --font-pretendard-regular: var(--pretendard-regular);
  --font-pretendard-medium: var(--pretendard-medium);
  --font-pretendard-semibold: var(--pretendard-semibold);

  /* Breakpoint */
  --breakpoint-xs: 360px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1920px;
  --breakpoint-2xl: 2560px;

  /* Z-index */
  --z-index-header: 30;
  --z-index-cursor: 99999;
  --z-index-transition: 99999999999;

  /* Aspect */
  --aspect-portrait: 16 / 21;

  /* Spacing */
  --spacing-13: 52px;
  --spacing-15: 60px;
  --spacing-18: 72px;
  --spacing-25: 100px;
  --spacing-95: 380px;
  --spacing-120: 480px;

  /* Transitions */
  --ease-circle: cubic-bezier(0.22, 1, 0.36, 1);

  /* Animations */
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}
/*
  ---break---
*/
:root {
  --radius: 8px;

  /* Colors */
  --white: oklch(1 0 0);
  --black: oklch(0 0 0);

  /* Grays */
  --gray-100: oklch(0.9854 0.0013 286.38);
  --gray-200: oklch(0.9637 0.0017 247.84);
  --gray-300: oklch(0.9153 0.0088 264.52);
  --gray-400: oklch(0.881 0.0135 262.38);
  --gray-500: oklch(0.8314 0.0167 262.74);
  --gray-600: oklch(0.7025 0.0229 268.34);

  /* Primary */
  --primary-100: oklch(0.5579 0.244215 261.2038);
  --primary-200: oklch(0.5579 0.244215 261.2038 / 0.8);
  --primary-300: oklch(0.6771 0.1736 254.72);
  --primary-400: oklch(0.8335 0.0799 259.62);

  /* Accent */
  --yellow-100: oklch(0.8848 0.1816 94.9);
  --yellow-200: oklch(0.8848 0.1816 94.9 / 0.8);
  --red-500: oklch(0.6291 0.2252 24.17);
}

/*
  ---break---
*/
@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */
  body {
    @apply bg-white text-black antialiased;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: var(--gray-200);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--yellow-100);
    width: 10px;
    height: 10px;
  }

  /*
   * Flex utils
   */
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-center-center {
    @apply flex flex-col items-center justify-center;
  }

  .flex-col-between {
    @apply flex flex-col items-center justify-between;
  }
}
