@import "tailwindcss";
@import "tw-animate-css";
@import "circle.css";

/*
  ---break---
*/
@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/*
  ---break---
*/
@theme inline {
  --radius-sm: calc(var(--radius) - 4px); /* 4px */
  --radius-md: calc(var(--radius)); /* 8px */
  --radius-lg: calc(var(--radius) + 4px); /* 12px */
  --radius-xl: calc(var(--radius) + 16px); /* 24px */

  /* Colors */
  --color-background:var(--background);
  --color-foreground:var(--foreground);

  /* Primary */
  --color-primary: var(--primary);
  --color-primary-forground: var(--primary-forground);

  /* Secondary */
  --color-secondary: var(--secondary);
  --color-secondary-forground: var(--secondary-forground);

  /* Muted */
  --color-muted: var(--muted);
  --color-muted-forground: var(--muted-forground);

  /* Accent */
--color-warning: var(--warning);
--color-destructive: var(--destructive);
--color-success: var(--success);
--color-neutral: var(--neutral);
--color-info: var(--info);


  /* Fonts */
  --font-popins-bold: var(--popins-bold);
  --font-popins-medium: var(--popins-medium);
  --font-popins-regular: var(--popins-regular);
  --font-popins-semibold: var(--popins-semibold);

  /* Breakpoint */
  --breakpoint-xs: 360px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1920px;
  --breakpoint-2xl: 2560px;

  /* Z-index */
  --z-index-header: 30;
  --z-index-cursor: 99999;
  --z-index-transition: 99999999999;

  /* Aspect */
  --aspect-portrait: 16 / 21;

  /* Spacing */
  --spacing-13: 52px;
  --spacing-15: 60px;
  --spacing-18: 72px;
  --spacing-25: 100px;
  --spacing-95: 380px;
  --spacing-120: 480px;

  /* Transitions */
  --ease-circle: cubic-bezier(0.22, 1, 0.36, 1);

  /* Animations */
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}
/*
  ---break---
*/
:root {
  --radius: 8px;

  /* Colors */
  --background: oklch(98.1% 0.002 254.5);
  --foreground: oklch(20.2% 0.002 259.2);

  /* Primary */
  --primary: oklch(76.7% 0.189 152.8);
  --primary-forground: oklch(1 0 0);

  /* Secondary */
  --secondary: oklch(70.2% 0.177 240.9);
  --secondary-forground: oklch(1 0 0);

  /* Muted */
  --muted: oklch(57.8% 0.023 257.3);
  --muted-forground: oklch(1 0 0);

  /* Accent */
--warning: oklch(0.8848 0.1816 94.9);
--destructive: oklch(0.6291 0.2252 24.17);
--success: oklch(72% 0.18 145);
--neutral: oklch(70% 0.02 250);
--info: oklch(73% 0.14 215);
}

/*
  ---break---
*/
@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */
  body {
    @apply bg-background text-foreground antialiased;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: var(--neutral);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--warning);
    width: 10px;
    height: 10px;
  }

  /*
   * Flex utils
   */
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-center-center {
    @apply flex flex-col items-center justify-center;
  }

  .flex-col-between {
    @apply flex flex-col items-center justify-between;
  }
}
