.work-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-content img {
  width: 100%;
  max-width: 1840px;
}

.work-content h1,
.work-content h2,
.work-content p,
.work-content pre,
.work-content ol {
  width: 1160px;
  word-break: keep-all;
  padding-block: 160px;
}

@media (min-width: 768px) and (max-width: 1079px) {
  .work-content h1,
  .work-content h2,
  .work-content p,
  .work-content pre,
  .work-content ol {
    width: calc(100% - 4rem);
    padding-block: 80px;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .work-content h1,
  .work-content h2,
  .work-content p,
  .work-content pre,
  .work-content ol {
    width: calc(100% - 2rem);
    padding-block: 60px;
  }
}
