@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #131310; 
    --foreground: #A2AAAD; 
    --muted: #0f0f0f; 
    --muted-foreground: #a1a1a1; 
    --popover: #1b1b1d; 
    --popover-foreground: #e0e0e0; 
    --card: #121214; 
    --card-foreground: #f7f7f7; 
    --border: #29292b; 
    --input: #29292b; 
    --primary: #b9f900; 
    --primary-foreground: #ffffff; 
    --secondary: #1d1d1f; 
    --secondary-foreground: #fdfdfd; 
    --accent: #ff5967; 
    --accent-foreground: #ffffff; 
    --destructive: #ff0f37; 
    --destructive-foreground: #ffffff; 
    --ring: #e02f4b; 
    --radius: 0.75rem;
  }

}
